<b>
    {{player.turnIndex}}.
    {{player.name}}</b>
<span uib-tooltip-html="log" style="color:rebeccapurple;margin-left:6px">{{player.point}}점</span>
<span ng-if="game.onGame">
    <span class="prediction" ng-if="game.phase!=='prediction'">{{player.win}}<small>승/</small>{{player.prediction || 0}}<small>예측</small></span>
            <span class="prediction" ng-if="game.phase==='prediction'">
            <span class="sub-not" ng-if="!player.prediction">예측 중</span>
            <span class="sub-done" ng-if="player.prediction">예측 완료</span>
        </span>
        </span>
<span style="margin-left:5px"></span>
<span class="label label-warning" ng-if="player.maker && !game.onGame">방장</span>
<span class="label label-info" ng-if="player.id === game.me.id">나</span>
<span class="label label-primary" ng-if="player.first && game.phase==='prediction'">선</span>
<span class="label label-warning" ng-if="player.turn && game.phase!=='prediction'">순서</span>
<span class="label label-danger" ng-if="player.disconnected">연결끊김</span>