<div class="container vertical-padding course-make">
    <h5>{{course.name}}
        <stars max="0" readonly="true" ng-model="course.level"></stars>
        <span class="margin-left-20 btn btn-white" ng-if="loaded && !registerInfo && course.maker.id !== user.id" ajax-button ng-click="register()">코스 등록 하기</span>
        <span class="btn btn-white" ui-sref="courseEdit({id:course.id})" ng-if='course.maker.id===user.id'>수정하기</span>
    </h5>
    <p ng-bind-html="course.description.newLine()" class="margin-bottom-20"></p>

    <div class="layout-column layout-gt-sm-row" ng-if="registerInfo || course.maker.id === user.id">
        <p class="flex" readonly="true" ng-bind-html="step.content"></p>
        <div class="layout-column course-detail">
            <h5>Steps </h5>
            <div class="steps">
                <div ng-repeat="step in course.steps">
                    <div>
                        <div ng-click="selectStep(step)" ng-class="{'color-green':isSelected(step)}" class="step-name">
                            {{step.name}} <i ng-show="isSelected(step)">play_circle_filled</i>
                        </div>
                    </div>
                </div>
            </div>
            <h5>{{step.name}} 문제</h5>
            <div class="problem-select-wrap">
                <div class="problem-select">
                    <div ng-repeat="problem in step.problems">
                        <div class="line-wrapper">
                            <a ui-sref="problemDetail({id: problem.id})" target="_blank">
                                <problem-in-line problem="problem"></problem-in-line><i ng-if="registerInfo.solveProblems.contains(problem.id)">check</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

