<div class="container vertical-padding course-make">
    <h5>코스 <span ng-if="!course.id">만들기</span><span ng-if="course.id">수정하기</span>
    </h5>
    <div class="layout-column layout-gt-xs-row margin-bottom-20">
        <input class="form-control flex" placeholder="코스 제목" ng-model="course.name">
        <div class="layout-row">
            <stars ng-model="course.level"></stars>

            <span ng-click="submit()" class="btn btn-white course-make-done">코스
                <span ng-if="!course.id">생성</span><span ng-if="course.id">수정</span>하기</span>
        </div>
    </div>
    <textarea autosize placeholder="코스 요약" ng-model="course.description"
              class="form-control margin-bottom-20"></textarea>

    <div class="layout-column layout-gt-sm-row make-box">
        <text-editor class="flex" readonly="true" ng-model="step.content"></text-editor>
        <div class="layout-column course-edit">
            <h5>Steps <i class="color-green" ng-show="mod" ng-click="newStep()">add</i>
                 <span ng-click="mod=!mod"><i ng-show="!mod">edit</i><i
                         ng-show="mod">check</i></span>
            </h5>
            <div class="steps">
                <div ng-repeat="step in course.steps">
                    <div>
                        <input ng-show="mod" placeholder="단계 이름" ng-model="step.name">
                        <div ng-click="selectStep(step)" ng-class="{'color-green':isSelected(step)}" class="step-name"
                             ng-show="!mod">{{step.name}}
                        </div>
                        <i class="color-red" ng-click="remove(step)" ng-show="mod && course.steps.length>1">remove</i>
                    </div>
                </div>
            </div>
            <h5>{{step.name}} 문제 <span ng-click="addmod=!addmod"><i ng-show="!addmod">edit</i><i
                    ng-show="addmod">check</i></span></h5>
            <div class="problem-select-wrap">
                <div ng-show="step.problems.length ===0 && !addmod" class="margin-left-10 margin-top-10">추가된 문제가
                    없습니다.<br> 문제를 추가해주세요.
                </div>
                <div class="problem-select" ng-class="{border:addmod}" as-sortable data-ng-model="step.problems">
                    <div as-sortable-item ng-repeat="problem in step.problems">
                        <div class="line-wrapper" as-sortable-item-handle>
                            <i class="color-red" ng-show="addmod"
                               ng-click="step.problems.remove(problem);problems.push(problem)">remove</i>
                            <a ui-sref="problemDetail({id: problem.id})" target="_blank">
                                <problem-in-line problem="problem"></problem-in-line>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-show="addmod" class="problem-select suggest" as-sortable data-ng-model="problems">
                    <input placeholder="검색어" ng-model="keyword">
                    <div as-sortable-item ng-repeat="problem in problems | filter:keyword">
                        <div class="line-wrapper" as-sortable-item-handle>
                            <i class="color-green"
                               ng-click="problems.remove(problem);step.problems.push(problem)">add</i>
                            <a ui-sref="problemDetail({id: problem.id})" target="_blank">
                                <problem-in-line problem="problem"></problem-in-line>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

