<search-box query="query"></search-box>
<div class="layout-column layout-gt-sm-row set" ng-class="{'top-non-border':$first}" ng-repeat="problem in (pageItems.length/2).toArray()">
    <problem-card problem="pageItems[2*$index]" ng-if="pageItems[2*$index]"
                  class="flex left"></problem-card>
    <span class="divider" ng-if="pageItems[2*$index+1]"></span>
    <problem-card problem="pageItems[2*$index+1]" ng-if="pageItems[2*$index+1]"
                  class="flex right"></problem-card>
</div>
<div class="layout-column layout-align-center-center vertical-padding set" ng-show="pageItems.length==0">
    검색 결과가 없습니다.
</div>
<pagination items="problems" filter="filter" query="query" page-items="pageItems"></pagination>