<div uib-dropdown>
    <button uib-dropdown-toggle class="btn dropdown-toggle btn-white btn-group-dropdown" ng-class="classes"
            type="button">
        <span ng-show="type">{{type | type}}</span>
        <span ng-show="!type">타입</span>
        <span ng-if="!readonly" class="caret"></span></button>
    <ul uib-dropdown-menu role="menu" class="dropdown-menu" ng-if="!readonly">
        <li ng-repeat="type in parameterTypes" ng-click="select(type)"><a href>{{type | type}}</a></li>
    </ul>
</div>