<div class="container">
    <div class="card-block">
        <h5>스컬킹 온라인</h5>

        <div ng-if="!user._id">
            <span class="btn btn-primary" ng-click="registerPopup()">회원가입</span>
            <span class="btn btn-primary" ng-click="loginPopup()">로그인</span>
        </div>
        <div ng-if="user._id">
            {{user.name}} ({{user.point}}) <span class="btn btn-primary" ng-click="logout()">로그아웃</span>
        </div>
    </div>

    <div>
        <h5>방목록 <span ng-click="refresh()" class="label-warning label">새로고침</span></h5>
        <table class="table table-striped room">
            <thead>
            <tr>
                <th><i class="fa fa-sort-numeric-asc"></i></th>
                <th><i class="fa fa-sort-numeric-header"></i></th>
                <th><i class="fa fa-user"></i></th>
                <th><i class="fa fa-users"></i></th>
                <th><i class="fa fa-clock-o"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in rooms" ng-click="go(room)">
                <td>{{$index+1}}</td>
                <td>{{room.name}}</td>
                <td>{{room.maker}}</td>
                <td>{{room.size}}/{{room.maxSize}}</td>
                <td>{{room.createdAt.toYMD()}}</td>
            </tr>
            <tr ng-if="rooms.length===0">
                <td colspan="5">방이 없네요.</td>
            </tr>
            </tbody>
        </table>
        <div ng-click="makeRoomPopup()" class="btn btn-primary">방만들기</div>
    </div>
    <div ng-if="ranks.length>0" style="margin-top:30px;">
        <div>순위 (1~30위) <span ng-click="refreshRank()" class="label-warning label">새로고침</span></div>
        <table class="table table-striped room">
            <thead>
            <tr style="font-size:12px;">
                <th><i class="fa fa-sort-numeric-asc"></i></th>
                <th><i class="fa fa-user"></i></th>
                <th>참여</th>
                <th>점수</th>
                <th>평균 점수</th>
                <th>평균 상위</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ranker in ranks">
                <td>{{$index+1}}</td>
                <td>{{ranker.name}}</td>
                <td>{{ranker.ranks.length}}</td>
                <td>{{ranker.point}}</td>
                <td>{{ranker.avgPoint || 0 | number:1}}</td>
                <td>{{ranker.avgRank*100 || 0 | number:1}}%</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:30px;">
        <div>룰 설명</div>
        <ul class="list-group">
            <li class="list-group-item">
                게임은 총 10 라운드로 진행되며, <span uib-tooltip="1라운드는 1번, 2라운드는 2번...">각 라운드 만큼의<span
                    class="fa fa-question-circle"></span></span>
                <span uib-tooltip="모든 플레이어가 순서대로 카드를 1장 내고, 가장 높은 카드가 승리합니다.">전투<span
                        class="fa fa-question-circle"></span></span>가 진행됩니다.
            </li>
            <li class="list-group-item">
                라운드 시작전 플레이어는 해당 라운드에서 몇번 승리할지 예측하고,
                <br> 라운드 종료시 <span uib-tooltip="예측수 *20 / 0승 예측시 라운드*10">맞았으면 점수를 획득<span
                    class="fa fa-question-circle"></span></span>하고 <span
                    uib-tooltip="틀린횟수(예측수-실제 승리) * 10 / 0승 예측시 라운드*10">틀렸으면 점수를 잃습니다.<span
                    class="fa fa-question-circle"></span></span>
            </li>
            <li class="list-group-item">
                10 라운드 종료 후 점수가 가장 높은 플레이어가 승리합니다.
            </li>
            <li class="list-group-item">
                카드는 다음의 순서로 강합니다.<br>
                해적왕 > 해적 > 여해적 > 블랙 > 빨강 = 파랑 = 노랑 > 도망<br>
                <b>해적왕과 여해적이 함께 나오면 여해적이 승리합니다.</b><br>
                빨강, 파랑, 노랑 카드는 해당 라운드에 먼저 나온 카드가 가장 강합니다.
            </li>
            <li class="list-group-item">
                같은 레벨의 카드라면, 먼저 나온 카드가 승리합니다.
            </li>
            <li class="list-group-item">
                같은 색의 카드라면 높은 숫자를 가진 카드가 승리합니다.
            </li>
            <li class="list-group-item">
                먼저 나온 색깔의 카드가 있다면, 그 카드 내거나 색깔이 없는 카드를 내야 합니다.
            </li>
        </ul>
    </div>
</div>
<card ng-drag=""></card>