<div class="container">
    <h4>레지스탕스:아발론</h4>
    <div>
        <div style="background:#000; color:white;padding:20px;">방목록</div>
        <div class="layout-row room" ng-repeat="room in rooms" ng-click="go(room.id)">
            <div>{{$index+1}}</div>
            <div>{{room.name}}</div>
            <div class="flex"></div>
            <div>{{room.size}}/10</div>
            <div>{{room.host}}</div>
        </div>
        <div ng-click="go(rooms.length+1);" class="btn btn-primary margin-vertical">방만들기</div>
    </div>
</div>