<div class="container">
    <div class="card-block">
        <h5>스컬킹 온라인</h5>

        <div ng-if="!user._id">
            <span class="btn btn-primary" ng-click="registerPopup()">회원가입</span>
            <span class="btn btn-primary" ng-click="loginPopup()">로그인</span>
        </div>
        <div ng-if="user._id">
            {{user.name}} ({{user.point}}) <span class="btn btn-primary" ng-click="logout()">로그아웃</span>
        </div>
    </div>

    <div>
        <h5>방목록 <span ng-click="refresh()" class="label-warning label">새로고침</span></h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>만든사람</th>
                <th>인원</th>
                <th>만든시간</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in rooms" ng-click="go(room)">
                <td>{{$index+1}}</td>
                <td>{{room.name}}</td>
                <td>{{room.maker}}</td>
                <td>{{room.size}}/{{room.maxSize}}</td>
                <td>{{room.createdAt | date}}</td>
            </tr>
            <tr ng-if="rooms.length===0" class="layout-row room">
                <td colspan="5">방이 없네요.</td>
            </tr>
            </tbody>
        </table>
        <div ng-click="makeRoomPopup()" class="btn btn-primary margin-vertical">방만들기</div>
    </div>
</div>