card {
  display: inline-block;
  overflow: hidden;
  width: 4em;
  background: white;
  background-size: cover;
  border-radius: .2em;
  margin: 0 .5em .5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  -moz-box-shadow: .2em .2em .5em #333;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
  box-shadow: 0.2em 0.2em 0.5em #333;
  .title {
    padding: 0.25em;
    background: white;
    border-radius: .2em .2em 0 0;
  }
  .transparent.title {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 1px silver;
  }
  .bottom {
    border-radius: 0 0 .2em .2em;
    height: 2.8em;
  }
  .blank {
    border-radius: 0 0 .2em .2em;
    height: 2.8em;
  }
  .no {
    font-size: 30px;
    position: absolute;
    right: 16px;
    text-align: center;
    bottom: 6px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 1px silver;
  }
  .title {
    text-align: left;
    .name {
      font-size: 20px;
      color: #3a3a3a;
      text-shadow: 1px 1px 1px silver;
    }
    .desc {
      font-size: 11px;
      margin-left: 3px;
      letter-spacing: 1px;
      margin-top: -7px;
    }
  }
  .win {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background: red;
    font-size: 10px;
    color: white;
    padding: 1px;
  }
}
