<div class="header layout-row">
    <span class="tab" ng-class="{selected:!log}" ng-click="showLog()">채팅
        <i class="red" ng-show="newChat">new</i>
    </span>
    <span class="tab" ng-class="{selected:log}" ng-click="showLog(true)">
        로그
        <i class="red" ng-show="newLog">new</i>
    </span>
    <div class="flex"></div>
    <i class="fa fa-minus fa-btn" ng-show="chatShow"  ng-click="chatShow=!chatShow"></i>
    <i class="fa fa-window-maximize fa-btn" ng-show="!chatShow"  ng-click="chatShow=!chatShow"></i>
</div>
<div class="messages" id="chat" ng-show="chatShow">
    <div ng-show="!log">
        <div class="message" ng-repeat="message in messages" ng-class="{right:message.me}"><span
                ng-if="!message.me">{{message.name}}</span><span class="message-body">{{message.message}}</span></div>
    </div>
    <div ng-show="log">
        <div  class="message" ng-repeat="log in logs"><span>{{log.type}}</span>
            <!--<span class="message-body">{{log.message}}</span>-->
        </div>
    </div>
</div>
<div class="layout-row" ng-show="chatShow && !log">
    <input placeholder="메세지" ng-model="message" ng-enter="send(message)" class="flex">
    <div class="send" ng-click="send(message)">보내기</div>
</div>