<phase game="game"></phase>
<!--<div class="input-group">-->
<!--<input class="form-control" ng-model="game.me.name" placeholder="이름" ng-enter="name(game.me.name)">-->
<!--<div class="input-group-addon" ng-click="name(game.me.name)">변경</div>-->
<!--</div>-->
<div>
    <player ng-click="name(player)" ng-class="{myturn:player.id === game.me.id&&player.turn&&game.phase==='submit'}" index="$index"
            ng-repeat="player in game.players"
            game="game" player="player">
    </player>
</div>
<chat></chat>

<div ng-if="game.phase==='submit'">
    <div ng-repeat="round in game.rounds" ng-show="$last">
        <div ng-repeat="step in round.steps" ng-show="$last">
            <prime-color color="step.prime"></prime-color>
        </div>
    </div>
</div>

<prediction game="game" ng-show="game.phase==='prediction'"></prediction>
<div class="ready">
    <div ng-show="!game.onGame">
        <div class="btn btn-primary" ng-if="game.me.maker" ng-click="startGame()">게임 시작</div>
        <div>게임 시작을 기다리고 있습니다.</div>
    </div>
</div>
<div ng-if="game.phase==='submit'" class="layout-column flex">
    <div class="card-block flex field" ng-drop="true" ng-drop-success="submit($data)">
        <submit-card player="player" game="game"
                     ng-repeat="player in game.players | orderBy:'turnIndex'"
                     card="player.submitCard"></submit-card>
    </div>
    <div class="card-block hand">
        <div ng-if="game.me.turn">
            내 차례!
            <small>카드를 끌어서 제출</small>
        </div>
        <div ng-if="!game.me.turn">
            {{getTurnPlayer().name}}님의 차례!
        </div>
        <card ng-drag="true" ng-style="getPosition($index, game.me.cards.length)" ng-drag-data="card"
              ng-repeat="card in game.me.cards track by $index"
              card="card"></card>
    </div>
</div>