<h5 ng-if="game.onGame">제 {{game.round}} 라운드 {{names[game.phase]}} 단계</h5>
<div class="input-group">
    <input class="form-control" ng-model="game.me.name" placeholder="이름" ng-enter="name(game.me.name)">
    <div class="input-group-addon" ng-click="name(game.me.name)">변경</div>
</div>
<div ng-if="!game.onGame">
    게임 준비중
    <div class="btn btn-primary" ng-if="game.me.maker" ng-click="startGame()">게임 시작</div>
</div>
<div ng-if="game.phase==='submit'">
    <div ng-repeat="round in game.rounds" ng-show="$last">
        <div ng-repeat="step in round.steps" ng-show="$last">
            <div>{{$index+1}}번째 카드제출</div>
            <prime-color color="step.prime"></prime-color>
            <card ng-repeat="card in step.cards" card="card"></card>
        </div>
    </div>
</div>
<h1 ng-if="game.me.turn && game.phase==='submit'">내 차례!
    <small>카드를 끌어서 제출</small>
</h1>

<div class="card-block" ng-drop="true" ng-drop-success="submit($data)" ng-show="game.phase!=='prediction'">
    <player index="$index" ng-repeat="player in game.players" game="game" player="player">
    </player>
</div>


<prediction game="game" ng-show="game.phase==='prediction'"></prediction>

<div class="card-block" ng-if="game.phase==='submit'">
    <card ng-drag="true" ng-drag-data="card" ng-repeat="card in game.me.cards track by card.id" card="card"></card>
</div>

<chat></chat>