.card-block {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.card-block.field {
  overflow-y: auto;
}

.card-block.hand {
  position: relative;
  height: 180px;
  padding: 10px 0 15px;
  card {
    position: absolute;
  }
}

.color-red {
  color: #da0000;
}

.ready {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
}

.wrap.myturn {
  background: #f0ad4e;
}

card.submitable {
  border: solid 3px #59ce2c;
  box-shadow: 3px 3px 3px #59ce2c;
}
