<div class="layout-row">
    <i class="done" ng-if="problem.submitted">check</i>
    <div class="flex">
        <h3 ui-sref="problemDetail({id:problem.id})">{{problem.name}}
            <small>{{problem.exp || '0'}}exp</small>
        </h3>

        <div class="maker layout-row">
            <stars ng-model="problem.level" readonly="true"></stars>
            <span class="flex"></span><span ng-if="problem.maker" ui-sref="hero({id:problem.maker.id})">By {{problem.maker.name}}</span>
        </div>
    </div>
</div>
<div class="description">
    {{problem.description.removeTags() | maxLength : 90}}
</div>
<div>
    <span ng-repeat="tag in problem.tags" class="badge bg-primary">{{tag.text}}</span>
    <span class="badge icon-with-span"><i>memory</i>{{problem.memoryLimitMB}}mb</span>
    <span class="badge icon-with-span"><i>alarm_off</i>{{problem.timeLimitSec}}s</span>
</div>