<div class="container vertical-padding" ng-form="modifyForm">
    <div class="container">
        <h5>내 정보 수정 하기</h5>
    </div>
    <div class="label-form layout-row">
        <div class="name">별명</div>
        <div class="flex">
            <input type="text" name="newName" maxlength="15" ng-pattern="regex.name.regex" placeholder="별명" ng-model="newUser.name"
                   class="form-control" required>
            <div class="error color-red" ng-show="!modifyForm.newName.$valid">{{regex.name.message}}</div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">이메일</div>
        <div class="flex">
            <input type="email" required ng-pattern="regex.email.regex" name="email" placeholder="로그인 이메일"
                   ng-model="newUser.email" class="flex form-control">
            <div class="error color-red" ng-show="!modifyForm.email.$valid">{{regex.email.message}}</div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">선호 언어</div>
        <dropdown classes="btn-white btn-group-dropdown narrow-dropdown"
                  ng-model="newUser.language" placeholder="언어"
                  options="languages" name="name"></dropdown>
    </div>
    <div class="label-form layout-row">
        <div class="name">새 비밀번호</div>
        <div class="flex">
            <input type="password" name="password" ng-pattern="regex.password.regex" maxlength="20"
                   placeholder="새 비밀번호" ng-model="newUser.newPassword" class="flex form-control">
            <div class="error color-red" ng-show="!modifyForm.password.$valid">{{regex.password.message}}</div>
        </div>

    </div>
    <div class="label-form layout-row" ng-if="newUser.newPassword">
        <div class="name">현재 비밀번호</div>
        <input type="password" maxlength="20"
               placeholder="현재 비밀번호" ng-model="newUser.password" class="flex form-control">
    </div>
    <div class="label-form layout-row">
        <div style="font-size:110%" ng-click="update(modifyForm.$valid)"
             class="flex btn btn-primary margin-top-10 margin-bottom-10">
            정보 수정
        </div>
    </div>
</div>