<!doctype html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta charset="utf-8">
    <title>SkullKing Online - OnePiece Theme</title>
    <meta name="description" content="Skull King"/>
    <meta name="keywords" content="스컬킹, 보드게임"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="메타태그"/>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- build:js(.) /scripts/vendor.js -->
    <!-- 직접 관리할 라이브러리 -->
    <!-- 라이브러리 종료 -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-essential/angular-essential.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/ng-dialog/js/ngDialog.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <!-- include: "type": "js", "files": "**/*.js" -->
    <script src="/app.ie.polyfill.js"></script>
    <script src="/app.js"></script>
    <script src="/app.prototype.js"></script>
    <script src="/app.root.ctrl.js"></script>
    <script src="/config/ajax.js"></script>
    <script src="/config/route.config.js"></script>
    <script src="/config/route.js"></script>
    <script src="/directives/chat/chat.js"></script>
    <script src="/directives/ng-drag.js"></script>
    <script src="/directives/ng-drop.js"></script>
    <script src="/directives/progress/progress.js"></script>
    <script src="/directives/skullking/card/card.js"></script>
    <script src="/directives/skullking/history/history.js"></script>
    <script src="/directives/skullking/mark/mark.js"></script>
    <script src="/directives/skullking/phase/phase.js"></script>
    <script src="/directives/skullking/player/player.js"></script>
    <script src="/directives/skullking/prediction/prediction.js"></script>
    <script src="/directives/skullking/prime-color/prime.js"></script>
    <script src="/directives/skullking/submit-card/submit-card.js"></script>
    <script src="/directives/toggle/toggle.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/moment.ko.js"></script>
    <script src="/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/lib/ui-dragdrop.js"></script>
    <script src="/pages/puzzle/puzzle.js"></script>
    <script src="/pages/puzzle/puzzle.room.js"></script>
    <script src="/pages/puzzle/puzzleSingle.js"></script>
    <script src="/pages/skullking/rooms/rooms.js"></script>
    <script src="/pages/skullking/skullking.js"></script>
    <script src="/service/colors.service.js"></script>
    <script src="/service/pop.service.js"></script>
    <script src="/service/popup/popup.service.js"></script>
    <script src="/service/socket.js"></script>
    <!-- /include -->
    <!-- endbuild -->

    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) /styles/main.css -->
    <!-- include: "type": "css", "files": "**/*.css" -->

  <link href="/dialog/dialog.css" rel="stylesheet" type="text/css">
    <link href="/directives/chat/chat.css" rel="stylesheet" type="text/css">
    <link href="/directives/progress/progress.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/card/card.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/history/history.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/mark/mark.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/phase/phase.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/player/player.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/prediction/prediction.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/prime-color/prime.css" rel="stylesheet" type="text/css">
    <link href="/directives/skullking/submit-card/submit-card.css" rel="stylesheet" type="text/css">
    <link href="/directives/toggle/toggle.css" rel="stylesheet" type="text/css">
    <link href="/lib/angular-material.layouts.min.css" rel="stylesheet" type="text/css">
    <link href="/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/lib/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/pages/puzzle/puzzle.css" rel="stylesheet" type="text/css">
    <link href="/pages/skullking/rooms/rooms.css" rel="stylesheet" type="text/css">
    <link href="/pages/skullking/skullking.css" rel="stylesheet" type="text/css">
    <link href="/service/pop.css" rel="stylesheet" type="text/css">
    <link href="/service/popup/popup.css" rel="stylesheet" type="text/css">
    <link href="/style/global/bg.css" rel="stylesheet" type="text/css">
    <link href="/style/global/color.css" rel="stylesheet" type="text/css">
    <link href="/style/global/margin.css" rel="stylesheet" type="text/css">
    <!-- /include -->
    <!-- endbuild -->

    <!-- 직접 관리할 스타일시트 -->
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    <!-- 스타일시트 종료 -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79832552-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body ng-cloak class="layout-column flex">
<header class="navbar" style="margin-bottom:0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="fa fa-bars menu-toggle hide-gt-xs" ng-click="isNavCollapsed = !isNavCollapsed"></a>
            <a class="navbar-brand">Board Games</a>
        </div>
        <nav class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="skullkingrooms">SkullKing</a></li>
                <li><a ui-sref="puzzlerooms">Robots</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!user._id"><a ng-click="registerPopup()"> Register</a></li>
                <li ng-if="!user._id"><a ng-click="loginPopup()">Login</a></li>
                <li ng-if="user._id"><a ng-click="name(user)">{{user.name}} ({{user.point}}) </a>
                </li>
                <li ng-if="user._id">
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Contents -->
<div ui-view class="flex"
     ng-class="{'layout-row':state.current.layout==='row', 'layout-column':state.current.layout==='column'}"></div>
</body>
</html>
