<div class="container vertical-padding">
    <h5>문제 만들기</h5>
    <div class="label-form layout-row">
        <div class="name">제목</div>
        <input type="text" placeholder="제목" ng-model="problem.name" class="flex form-control">
    </div>
    <div class="label-form layout-row">
        <div class="name">설명</div>
        <textarea autosize placeholder="설명" ng-model="problem.description" class="form-control"></textarea>
    </div>
    <div class="label-form layout-row">
        <div class="name">난이도</div>
        <stars ng-model="problem.level" style="padding-top:2px" tooltip-placement="right"
               uib-tooltip="난이도는 조정될 수 있습니다."></stars>
    </div>
    <div class="label-form layout-row">
        <div class="name">정책</div>
        <div class="layout-column layout-gt-md-row">
            <radio-buttons value="value" label="label" class="margin-bottom-10" ng-model="problem.policy" options="policies"></radio-buttons>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">실행 환경</div>
        <div class="layout-row layout-align-center-center icon-with-span">
            <i>memory</i>
            <input type="text" placeholder="메모리 제한" uib-tooltip="실행시 메모리 제한입니다." re-size readonly value="256" class="flex form-control margin-right-5 "> MB
            <i class="margin-left-20">alarm_off</i>
            <input type="text" placeholder="시간 제한" uib-tooltip="실행시간 제한입니다." re-size readonly value="2" class="flex form-control margin-right-5 "> 초
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">태그
            <div class="max-length">최대 10개</div>
        </div>
        <div class="flex">
            <tags-input ng-model="problem.tags"
                        ng-class="{'hasitem':problem.tags.length>0, 'maxitem':problem.tags.length===10}">
                <auto-complete min-length="1" source="loadFrom($query)"></auto-complete>
            </tags-input>
            <span class="badge bg-primary margin-right-5" ng-click="addTag(text)" ng-repeat="text in recommedTags">{{text}}</span>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">제약조건
            <div class="max-length">최대 10개</div>
        </div>
        <div class="flex">
            <div class="flex margin-bottom-10 layout-row" ng-repeat="constraint in problem.constraints">
                <input type="text" ng-model="problem.constraints[$index].value" placeholder="제약조건{{$index+1}}"
                       class="right-sharp flex form-control">
                <div class="left-sharp btn btn-danger" ng-click="problem.constraints.remove(constraint)">삭제</div>
            </div>
            <div class="flex btn btn-white" ng-click="addConstraint()">
                새로운 제약 조건 추가하기
            </div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">정답 데이터
            <div class="max-length">10개 ~ 100개</div>
        </div>
        <div class="flex layout-column">
            <div class="layout-column layout-gt-md-row">
                <radio-buttons class="margin-bottom-10" ng-model="dataType" label="label" options="dataOptions"></radio-buttons>
            </div>
            <div ng-switch="dataType.type">
                <div ng-switch-when="typing">
                    <textarea autosize placeholder="정답 데이터" ng-model="$parent.input"
                              class="form-control margin-bottom-10"></textarea>
                    <div class="layout-row margin-bottom-10 ">
                        <div class="btn btn-white margin-right-10" ng-click="setData(input)">추출하기</div>
                        <div class="btn btn-white" ng-if="problem.data" ng-click="showDataToggle()">데이터
                            <span ng-show="!showData">보기</span>
                            <span ng-show="showData">숨기기</span>
                        </div>
                    </div>
                    <div class="icon-with-span" ng-click="answerDataInfo()">
                        <i>help</i>정답데이터 입력형식
                    </div>
                </div>
                <div ng-switch-when="file">
                    <input type="file" class="form-control margin-bottom-10"
                           ng-file="file">
                    <div class="layout-row margin-bottom-10">
                        <div class="btn btn-white margin-right-10" ng-click="parseCsv(file)">파일읽기</div>
                        <div class="btn btn-white" ng-if="problem.data" ng-click="showDataToggle()">데이터
                            <span ng-show="!showData">보기</span>
                            <span ng-show="showData">숨기기</span>
                        </div>
                    </div>
                    <div class="icon-with-span" ng-click="csvHowTo()">
                        <i>help</i>CSV파일 만들기 (Excel)
                    </div>
                </div>
                <div ng-switch-when="generate">
                    <dropdown classes="btn-white btn-group-dropdown narrow-dropdown"
                              ng-model="codeLanguage" placeholder="언어" options="languages" name="name"></dropdown>
                    <textarea autosize placeholder="정답 코드" ng-model="code"
                              class="form-control margin-bottom-10"></textarea>
                    <div class="layout-row margin-bottom-10 ">
                        <div class="btn btn-white margin-right-10" ng-click="generateRandomCases(codeLanguage, code)"
                             ajax-button>랜덤 케이스 생성하기
                        </div>
                        <div ng-if="problem.data" class="btn btn-white" ng-click="showDataToggle()">데이터
                            <span ng-show="!showData">보기</span>
                            <span ng-show="showData">숨기기</span>
                        </div>
                    </div>
                    <div class="icon-with-span" ng-click="generateHowTo()">
                        <i class="material-icons">help</i>정답코드로 생성
                    </div>
                </div>
            </div>
            <div class="margin-bottom-10 problem-data" ng-if="makeData" ng-show="showData">
                <strong>정답 데이터</strong>
                <div ng-repeat="data in problem.data">
                    {{$index + 1}}.
                    <parameter-display ng-repeat="parameter in data.length.toArray()" value="data[$index]"
                                       type="problem.parameters[$index].type" ng-if="!$last"
                                       name="problem.parameters[$index].name"></parameter-display>
                    ==> return ({{problem.returnType}})
                    <parameter-display value="data.last()"></parameter-display>
                </div>
            </div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">파라미터
            <div class="max-length">1개 ~ 10개</div>
        </div>
        <div class="flex">
            <div class="flex layout-row margin-bottom-10" ng-repeat="parameter in problem.parameters">
                <parameter-input class="flex" parameter="problem.parameters[$index]"></parameter-input>
                <a class="left-sharp btn btn-danger" ng-click="problem.parameters.remove(parameter)">삭제</a>
            </div>
            <div class="flex btn btn-white" ng-click="addParameter()">
                파라미터 추가하기
            </div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div class="name">리턴타입</div>
        <parameter-types-select type="problem.returnType"></parameter-types-select>
    </div>
    <div class="label-form layout-row">
        <div class="name">사용언어</div>
        <checkbox ng-repeat="language in languages" ng-model="language.use"
                  label="language.name"></checkbox>
    </div>
    <div class="label-form layout-row">
        <div class="name">
            주어진 코드
        </div>
        <div class="flex">
            <div class="layout-row margin-bottom-10">
                <dropdown classes="btn-white btn-group-dropdown narrow-dropdown" class="margin-right-10"
                          ng-model="language" placeholder="언어"
                          options="problem.languages" name="name"></dropdown>
                <checkbox ng-model="useTemplate" label="'코드 자동생성'"></checkbox>
            </div>
            <div>
                <div ng-if="useTemplate" code="language.predefinedCode"></div>
                <textarea ng-if="!useTemplate" ng-readonly="!language || useTemplate"
                          ng-model="language.predefinedCode" autosize
                          placeholder="주어진 코드" class="code form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="label-form layout-row">
        <div class="name">예제
            <div class="max-length">1개 ~ 10개</div>
        </div>
        <div class="flex">
            <div ng-repeat="testCase in problem.testCases" class="label-form">
                <h4 class="icon-with-span">예제 {{$index +1}} <i class="color-red"
                                                               ng-click="problem.testCases.remove(testCase)"
                                                               style="padding-bottom:3px">remove</i></h4>
                <div class="margin-bottom-10" ng-show="testCase.data.length===0">
                    <span class="icon-with-span"><i>error_outline</i>파라미터와 리턴타입을 정의해주세요.</span>
                </div>
                <div class="margin-bottom-10"
                     ng-show="(testCase.data.length>0 && !problem.returnType)|| (testCase.data.length>1 && problem.returnType)">
                    <strong class="margin-right-10">입력</strong>
                    <parameter-value-input ng-repeat="parameter in problem.parameters" data="testCase.data"
                                           index="$index"
                                           type="parameter.type" name="parameter.name"></parameter-value-input>
                </div>

                <div class="margin-bottom-10" ng-show="problem.returnType">
                    <strong class="margin-right-10">정답</strong>
                    <parameter-value-input data="testCase.data" index="testCase.data.length-1"
                                           type="problem.returnType"></parameter-value-input>
                </div>
                <div>
                    <h5>예제 해설</h5>
                    <textarea autosize placeholder="예제 해설" ng-model="testCase.description"
                              class="form-control"></textarea>
                </div>
            </div>
            <div class="flex btn btn-white" ng-click="addTestCase()">
                예제 추가하기
            </div>
        </div>
    </div>
    <div class="label-form layout-row">
        <div style="font-size:110%" class="flex btn btn-primary margin-top-10 margin-bottom-10"
             ng-click="createProblem(problem)">
            만들기
        </div>
    </div>
</div>
