<div class="container margin-top-20">
    <div class="layout-column layout-gt-sm-row problem-summary layout-align-center-center">
        <div class="flex">
            <h3 class="margin-right-20"><a>{{solveCode.problem.name}}</a>
                <small>{{solveCode.problem.exp || '0'}}exp</small>
            </h3>
            <div>
                {{solveCode.problem.description.removeTags() | maxLength:60}}
            </div>
        </div>

        <div class="layout-column margin-bottom-20">
            <div class="icon-with-span btn btn-white margin-bottom-20"
                 ui-sref="problemDetail({id:solveCode.problem.id})">
                <i class="material-icons">content_paste</i> 문제 페이지로
            </div>
            <div ng-if="solveCode.user.id === user.id">
                <checkbox ng-model="solveCode.open" label="'코드를 공개합니다.'" ng-click="update(solveCode.open)"></checkbox>
                <div ng-if="!solveCode.open" class="margin-bottom-10">코드를 공개하면 리뷰를 통해 코드를 개선 할 수 있고,<br> 코드가 추천될때 마다 추가 경험치를 얻을 수
                    있습니다.
                </div>
            </div>
        </div>
    </div>
    <div class="layout-row layout-align-center-center line-summary">
        <name-and-level user="solveCode.user" class="name margin-left-5 margin-right-5"></name-and-level>
        <span class="time margin-right-10">{{solveCode.updatedAt.toYMD()}}</span>
        <like likes="solveCode.likes" type="SOLVE_CODE" like-id="solveCode.id" class="time"></like>
        <span class="flex"></span>
        <result-one-line solve-code="solveCode"></result-one-line>
    </div>
    <div code="solveCode.code"></div>
    <replies type="SOLVE_CODE" replies-id="solveCode.id"></replies>
</div>
