<div class="container vertical-padding">
    <div class="layout-row layout-align-end" ng-if="isRootUser()">
        <span class="btn btn-white" ui-sref="myPage">내 정보 수정하기</span>
    </div>
    <div class="layout-row layout-align-start-end">
        <h5>{{hero.name}}</h5>
        <span class="level badge bg-info" animate="randomWow">level {{hero.level.level}}</span>
        <span class="flex"></span>
        <span class="level badge bg-grey">{{hero.level.exp}} / {{hero.level.nextExp}}</span>
    </div>
    <div class="progress">
        <div class="progress-bar" ng-class="{'none-transition':hero.level.noTransiton}"
             ng-style="{width: hero.level.percent+'%'}"></div>
    </div>
    <div class="layout-row hero-detail">
        <span class="margin-right-20" ng-if="most.name">{{most.language}} {{most.name}}</span> <span
            class="margin-right-20">코드 추천 : {{recommends()}}회</span>
    </div>
</div>

<div class="container margin-bottom-20" ng-if="hero.problems.length==0 && hero.solveCodes.length === 0">
    아직 기록이 없습니다.
</div>
<div class="container statistics-block" ng-if="hero.problems.length>0">
    <h4>주요 통계</h4>
    <div class="layout-column layout-gt-sm-row">
        <div class="layout-column layout-align-center-center flex">
            <span>프로그래밍 언어 사용비율</span>
            <canvas style="max-width: 300px;max-height: 300px" width="300" height="300" chart="languages"
                    data="languages"></canvas>
        </div>
        <div class="flex layout-column">
            <div class="layout-row flex">
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>주력 언어</label>
                    <span>{{most.language}}</span>
                </div>
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>코드 추천</label>
                    <span class="number"><span odometer="recommends()"></span><span class="unit">회</span></span>
                </div>
            </div>
            <div class="layout-row flex">
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>평균 정답률</label>
                    <span class="number"><span odometer="problemStastics.percent"></span><span
                            class="unit">%</span></span>
                </div>
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>참여한 문제</label>
                    <span class="number"><span odometer="hero.problems.length"></span><span class="unit">개</span></span>
                </div>
            </div>
            <div class="layout-row flex">
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>코드를 제출한 문제</label>
                    <span class="number"><span odometer="problemStastics.submit"></span><span
                            class="unit">개</span></span>
                </div>
                <div class="numbers flex layout-column layout-align-center-center">
                    <label>해결한 문제(100%)</label>
                    <span class="number"><span odometer="problemStastics.pass"></span><span class="unit">개</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-column layout-gt-sm-row">
        <div class="layout-column layout-align-center-center flex">
            <span>참여한 문제 레벨 분포</span>
            <canvas style="max-width: 300px;max-height: 300px" width="300" height="300" chart="levels"
                    data="levels"></canvas>
        </div>
        <div class="layout-column layout-align-center-center flex">
            <span>참여한 문제 유형</span>
            <canvas style="max-width: 300px;max-height: 300px" width="300" height="300" chart="tags"
                    data="tags"></canvas>
        </div>
    </div>
</div>

<div class="container margin-bottom-20 margin-top-20" ng-if="hero.problems.length>0">
    <h3 class="border-title layout-row layout-align-center-end"><strong>참여한 문제와 코드</strong><span>({{problems.length}})</span><span
            class="flex"></span>
        <search-box query="query"></search-box>
    </h3>
    <div class="layout-column layout-align-center-center vertical-padding set" ng-show="problems.length==0">
        검색 결과가 없습니다.
    </div>
    <div ng-repeat="problem in problems = (hero.problems | filter:getQuery(query)) | limitTo : limit">
        <div class="layout-row">
            <problem-card problem="problem"></problem-card>
            <div class="flex">
            </div>
            <div class="layout-row layout-align-center-center btn-box" ng-if="problem.solveCodes.length>1">
                <span class="margin-right-20">{{problem.index + 1}}/{{problem.solveCodes.length}}</span>
                <div class="btn btn-white btn-sm" ng-click="before(problem)" ng-class="{disabled:problem.index==0}">이전
                </div>
                <div class="btn btn-white btn-sm" ng-click="next(problem)"
                     ng-class="{disabled:problem.index==problem.solveCodes.length-1}">다음
                </div>
            </div>
        </div>
        <div class="none-submit" ng-if="!problem.solveCodes || problem.solveCodes.length==0">아직 제출한 코드가 없습니다.</div>
        <solve-code style="border-top:none;" solve-code="problem.solveCodes[problem.index]"
                    ng-if="problem.solveCodes.length>0"></solve-code>
    </div>
    <div class="more" ng-show="limit<problems.length" ng-click="more()">더보기</div>
</div>
