<div class="messages" id="chat">
    <div class="message" ng-repeat="message in messages" ng-class="{right:message.me}"><span
            ng-if="!message.me">{{message.name}}</span><span class="message-body">{{message.message}}</span></div>
</div>
<div class="layout-row sendbox">
    <input placeholder="메세지" ng-model="message" ng-enter="send(message)" class="flex">
    <div class="send" ng-click="send(message)">보내기</div>
    <div class="send close-chat"><i class="fa fa-times" ng-click="chatToggle()"></i></div>
</div>