chat {
  background: white;
  position: relative;
  .messages {
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    height: 220px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    .message {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .message-body {
      margin-left: 10px;
      padding: 5px;
      background: #eee;
      border-radius: 5px;
    }
  }
  .right {
    text-align: right;
    .message-body {
      color: white;
      background-color: #48c9b0;
    }
  }
  input {
    background: #f4f4f4;
    outline: none;
    padding: 3px 6px;
    border: none;
    border-top: 1px solid;
    font-size: 12px;
  }
  .send {
    border-top: 1px solid #34495e;
    border-left: 1px solid #34495e;
    padding: 8px 6px;
    font-size: 12px;
    background: #34495e;
    color: white;
  }
  .sendbox {
    border-bottom: 1px solid #34495e;
  }
}

