<div class="container">
    <div class="layout-column flex wrap">

        <div class="box">
            <div>
                <div class="block-row" ng-repeat="row in game.blocks">
                    <div class="block" ng-class="{prohibit:block.prohibit}" ng-repeat="block in row">
                        <!--ng-click="block.rightBar()"-->
                        <span class="right-bar" ng-if="!$last"
                              ng-class="{showbar:block.right}"></span>
                        <!--ng-click="block.bottomBar()"-->
                        <span class="bottom-bar" ng-if="!$parent.$last"
                              ng-class="{showbar:block.bottom}"></span>
                        <span class="spot">
                    <i class="fa" ng-style="{color:block.color}" ng-class="block.icon" ng-if="block.icon"></i>
                </span>
                    </div>
                </div>
            </div>
            <div ng-repeat="robot in game.robots" ng-click="setRobot(robot)" class="robot" ng-style="robot.style()">
                <i class="fa fa-caret-up" ng-click="robot.up()"></i>
                <i class="fa fa-caret-down" ng-click="robot.down()"></i>
                <i class="fa fa-caret-left" ng-click="robot.left()"></i>
                <i class="fa fa-caret-right" ng-click="robot.right()"></i>
            </div>
            <div ng-repeat="robot in game.robots" class="start" ng-style="robot.startStyle()">
            </div>
        </div>
        <div>
            <div style="font-size:40px;" ng-style="{color:robot.color}">
                <i class="fa fa-caret-left" ng-click="robot.left()"></i>
                <i class="fa fa-caret-up" ng-click="robot.up()"></i>
                <i class="fa fa-caret-down" ng-click="robot.down()"></i>
                <i class="fa fa-caret-right" ng-click="robot.right()"></i>
            </div>
            <i class="fa" style="font-size:40px;" ng-style="{color:game.spot.color}" ng-class="game.spot.icon"
               ng-if="game.spot.icon"></i>
            {{game.move}}
            <span class="btn btn-primary" ng-click="game.nextSpot()">다음문제</span>
            <span class="btn btn-primary" ng-click="game.robotReposition()">로봇 재배치</span>
            <span class="btn btn-primary" ng-click="game.reset()">리셋</span>
        </div>


    </div>
</div>