<div class="card" ng-class="{me:player.id === game.me.id, turn:player.turn}">
    <card card="player.submitCard" ng-if="player.submitCard"></card>
    <span class="blank-card" ng-class="{turn:player.turn}" ng-if="!player.submitCard">
    <span class="prepare">
        <div class="name">
            {{player.name}}<br> {{player.point}} Point {{player.win}}/{{player.prediction}}
        </div>
        {{player.turnIndex}}
    </span>
    <span class="submit-card">
    Submit<br>a Card
    </span>
    </span>
</div>