<div class="flex welcome">
    <div class="typings margin-bottom-20" animate="randomWow" ng-mouseover="animateService.randomWow()">Coder's Game</div>

    <div class="container">
        <toaster-container></toaster-container>

        <div class="row">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <h1>Spring WebSocket Chat</h1>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="logout">Logout ({{username}})</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h4>Participants [{{participants.length}}]</h4>
                <div class="share">
                    <ul ng-repeat="participant in participants">
                        <li>
                            <span class="input-icon fui-new" ng-show="participant.typing"></span>
                            <span class="input-icon fui-user" ng-show="!participant.typing"></span>
                            <a href="" ng-click="privateSending(participant.username)">{{participant.username}}</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 chat-box">
                <h4>Messages</h4>
                {{messages}}
                <div ng-repeat="message in messages">
                    <small>{{message}}</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <span><small>You will send this message to <strong>{{sendTo}}</strong> (click a participant name to send a private message)</small></span>
                <input id="newMessageInput" type="text" class="form-control" placeholder="Write your message and hit enter..." ng-model="newMessage" ng-keyup="$event.keyCode == 13 ? sendMessage() : startTyping()"/>
            </div>
        </div>
    </div>

</div>
