<span ng-if="name">{{type | type : language}} {{name}} =</span>
<span ng-switch="type">
    <span ng-switch-when="STRING">"<input re-size class="inline" type="text" ng-model="data[index]">"</span>
    <input ng-switch-when="INT" number-only re-size class="inline" type="text" ng-model="data[index]">
    <input ng-switch-when="LONG" number-only re-size class="inline" type="text" ng-model="data[index]">
    <span ng-switch-when="BOOLEAN" class="boolean-input" ng-click="data[index]=!data[index]"><span
            ng-show="data[index]">true</span><span ng-show="!data[index]">false</span></span>
    <span ng-switch-when="LIST_STRING">
         [
        <span ng-repeat="datum in data[index].length.toArray()">
        <input re-size ng-model-options="{updateOn:'blur'}"
               class="inline" type="text" ng-model="data[index][$index]"><i
                ng-click="data[index].remove(data[index][$index])" class="remove">remove</i><span
                ng-if="!$last">, </span>
        </span>
        <i ng-click="add(index, '')" class="add">add</i>
        ]
    </span>
    <span ng-switch-when="LIST_INT">
        [
        <span ng-repeat="datum in data[index].length.toArray()">
        <input re-size number-only ng-model-options="{updateOn:'blur'}"
               class="inline" type="text" ng-model="data[index][$index]"><i
                ng-click="data[index].remove(data[index][$index])" class="remove">remove</i><span
                ng-if="!$last">, </span>
        </span>
        <i ng-click="add(index, 0)" class="add">add</i>
        ]
    </span>
    <span ng-switch-when="LIST_LONG">
        [
        <span ng-repeat="datum in data[index].length.toArray()">
        <input re-size number-only ng-model-options="{updateOn:'blur'}"
               class="inline" type="text" ng-model="data[index][$index]"><i
                ng-click="data[index].remove(data[index][$index])" class="remove">remove</i><span
                ng-if="!$last">, </span>
        </span>
        <i ng-click="add(index, 0)" class="add">add</i>
        ]
    </span>
    <span ng-switch-when="LIST_BOOLEAN">
        [
        <span ng-repeat="datum in data[index].length.toArray()">
        <span class="boolean-input"
              ng-click="data[index][$index]=!data[index][$index]"><span ng-show="data[index][$index]">true</span><span
                ng-show="!data[index][$index]">false</span>
        </span>
            <i ng-click="data[index].remove(data[index][$index])" class="remove">remove</i><span
                ng-if="!$last">, </span>
        </span>
         <i ng-click="add(index, false)" class="add">add</i>
        ]
    </span>
    <span class="semicolon" ng-if="language.useSemicolon">;</span>
</span>