.bg-cloud {
  background: #ECF0F1;
}

.bg-primary {
  background: #1abc9c;
}

.bg-info {
  background: #3498db;
}

.bg-grey {
  background: #BDC3C7;
}

[ng-click] {
  cursor: pointer;
}

body {
  background: #ddd;
}

body, html {
  height: 100%;
}