.dialog-body {
  padding: 20px 30px;
  input {
    border-radius: 0;
    border-bottom: none;
  }
  input:first-child {
    margin-top: 10px;
    border-radius: 6px 6px 0 0;
  }

  .btn {
    border-radius: 0 0 6px 6px;
    padding: 13px;
    width: 100%;
  }
  .tail {
    margin-top: 3px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    width: 100%;
  }
  .error {
    font-size: 12px;
    text-align: center;
  }
}

.vex-dialog-message {
  .vex-body {
    font-size: 15px;
    line-height: 160%;
    strong {
      font-size: 120%;
    }
  }
}