<h3>Make a Room</h3>
<input class="middle" ng-model="options.name" placeholder="Name (Default: {{user.name}}'s Room)">
<input class="middle" ng-model="options.submitLimitTime" number-only placeholder="Turn Limit Time(Default: 30Sec)">
<input class="middle" ng-model="options.predictLimitTime" number-only placeholder="Predict Limit Time(Default: 30Sec)">
<input class="middle" ng-model="options.maxRounds" number-only placeholder="Rounds(Default 10, Min 6)">
<input class="middle" ng-model="options.maxSize" number-only placeholder="Max players(Default: 6)">
<input class="middle" ng-model="options.password" type="password" placeholder="Password">
<div ng-click="cardOptions=!cardOptions">Card deck customize</div>
<div ng-show="cardOptions">
    <input class="middle" ng-model="options.cards.numbers" placeholder="Numbers(Default:13)" number-only>
    <input class="middle" ng-model="options.cards.pirate" placeholder="Pirate(Default: 5)" number-only>
    <input class="middle" ng-model="options.cards.pirateOR" placeholder="Pirate/Escape(Default: 1)" number-only>
    <input class="middle" ng-model="options.cards.white" placeholder="Escape(Default: 5)" number-only>
    <input class="middle" ng-model="options.cards.girl" placeholder="Girl(Default: 2)" number-only>
    <input class="middle" ng-model="options.cards.king" placeholder="King(Default: 1)" number-only>
</div>
<span class="btn btn-primary big" ng-click="makeRoom(options)">Make a Room</span>